@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;

.dashboard {
    display: grid;
    grid-gap: susanoo.rem-calc(30);
    @include susanoo.breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include susanoo.breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
    .users-online {
        &::before {
            border: {
                color: #667EEA;
            }
        }
        .online {
            position: relative;
            padding: {
                left: susanoo.rem-calc(20);
            }
            &::before {
                content: '';
                height: susanoo.rem-calc(10);
                width: susanoo.rem-calc(10);
                position: absolute;
                top: susanoo.rem-calc(5);
                left: 0;
                background: {
                    color: variables.$online-before-background-color;
                }
                border: {
                    radius: susanoo.rem-calc(200);
                }
                box-shadow: susanoo.rem-calc(-10) 0 susanoo.rem-calc(60) susanoo.rem-calc(15) rgba(96,223,0, 1);
            }
        }
    }
    .new-users {
        &::before {
            border: {
                color: #ff6767;
            }
        }
    }
    .date {
        &::before {
            border: {
                color: #66DC18;
            }
        }
    }
}