<section class="main-navigation">
        <nav class="navigation">
            <div>
                <h2 class="h4 headline">Main Navigation</h2>
                <ul>
                    <li>
                        <a href="#">Dashboards</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="#" class="disabled">Applications</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="h4 headline">UI Components</h2>
                <ul>
                    <li>
                        <a href="#" class="disabled">Elements</a>
                    </li>
                    <li>
                        <a href="#" class="disabled">Components</a>
                    </li>
                    <li>
                        <a href="#" class="disabled">Tables</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="h4 headline">Material Components</h2>
                <ul>
                    <li>
                        <a href="#" class="disabled">Form</a>
                    </li>
                    <li>
                        <a href="#" class="disabled">Layout</a>
                    </li>
                    <li>
                        <a href="#" class="disabled">Components</a>
                    </li>
                </ul>
            </div>
        </nav>
</section>