<section class="section users">
    <div class="box-big container">
        <h2 class="h3 headline">List of all users</h2>
        <div class="table-wrapper">
            <table class="users-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>333</td>
                    <td>Dawid Ol</td>
                    <td>54</td>
                    <td>28.04.21</td>
                    <td>
                        <button class="button">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>333</td>
                    <td>Dawid Ol</td>
                    <td>54</td>
                    <td>28.04.21</td>
                    <td>
                        <button class="button">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>333</td>
                    <td>Dawid Ol</td>
                    <td>54</td>
                    <td>28.04.21</td>
                    <td>
                        <button class="button">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>333</td>
                    <td>Dawid Ol</td>
                    <td>54</td>
                    <td>28.04.21</td>
                    <td>
                        <button class="button">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>333</td>
                    <td>Dawid Ol</td>
                    <td>54</td>
                    <td>28.04.21</td>
                    <td>
                        <button class="button">Details</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>