<section class="section symfony-commands">
    <div class="box-big container">
        <h2 class="h3 headline">Useful Symfony Commands</h2>
        <h3 class="h4 headline-inner">Fixtures</h3>
        <div>php bin/console doctrine:fixtures:load = load fixtures to database</div>
        <h3 class="h4 headline-inner">Changing the Existing Entity</h3>
        <div>
            <div>Add the attribute to your Entity File</div>
            <div>php bin/console make:entity --regenerate</div>
            <div>php bin/console doctrine:migrations:diff = Generate the migration file</div>
            <div>php bin/console doctrine:migrations:migrate = Migrate to Database</div>
        </div>
        <h3 class="h4 headline-inner">Tests</h3>
        <div>
            <div>php bin/console make:unit-test</div>
            <div>php ./bin/phpunit</div>
            <div>php bin/console make:functional-test</div>
        </div>
    </div>
</section>