{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper-sus-main">
        <div class="main-navigation-container">
            {{ include('admin/twigBlocks/main-navigation.html.twig') }}
        </div>
        <div class="content">
            {{ include('admin/twigBlocks/section-dashboard.html.twig') }}
            {{ include('admin/twigBlocks/section-users.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer">

    </footer>
{% endblock %}