{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header">
        <div class="wrapper-sus">
            <nav class="navigation">
                <form class="search">
                    <label for="search"></label>
                    <input type="search" class="input" id="search">
                </form>
                <ul>
                    <li>
                        <button class="button-header"></button>
                        <span>notifications</span>
                    </li>
                    <li>
                        <button class="button-header"></button>
                        <span>language</span>
                    </li>
                    <li>
                        <button class="button-header"></button>
                        <span>user activity</span>
                    </li>
                    <li>
                        <button class="button-header"></button>
                        <span>profile</span>
                    </li>
                    <li>
                        <button class="button-header"></button>
                        <span>settings</span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block main %}
    {{ include('admin/twigBlocks/main-navigation.html.twig') }}
{% endblock %}

{% block footer %}
    <footer class="page-footer">

    </footer>
{% endblock %}