{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper-sus-main">
        <div class="main-navigation-container">
            {{ include('admin/twigBlocks/main-navigation.html.twig') }}
        </div>
        <div class="content">
            <section class="section dashboard">
                <div class="box-header users-online">
                    <h2 class="h4 headline">Users Online</h2>
                    <div class="container">
                        <div class="online">
                            <span class="amount">56</span>
                            Online
                        </div>
                        <div class="percent">
                            <span>14</span>%
                        </div>
                    </div>
                </div>
                <div class="box-header new-users">
                    <h2 class="h4 headline">New Accounts</h2>
                    <div class="container">
                        <div class="accounts">
                            <span class="amount">234</span> %
                        </div>
                        <div class="percent">
                            <span>34</span>%
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer">

    </footer>
{% endblock %}