{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper-sus-main">
        <div class="main-navigation-container">
            {{ include('admin/twigBlocks/main-navigation.html.twig') }}
        </div>
        <div class="content">
            {{ include('admin/twigBlocks/section-dashboard.html.twig') }}
            <section class="section users">
                <div class="box-big container">
                    <h2 class="h3 headline">List of all users</h2>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer">

    </footer>
{% endblock %}