{% extends 'login/base.html.twig' %}

{% block header %}{% endblock %}

{% block main %}
<div class="login">
    <div class="wrapper">
        <div class="container">
            <div class="panel">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h1 headline">Welcome to Susanoo</h1>
                <form action="{{ path('login') }}" class="form" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <label for="login">Login:</label>
                        <input type="email" name="_email" id="login" class="input" placeholder="E-mail">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="_password" id="password" class="input" placeholder="Password">
                    </div>
                    <button class="button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
