@use '../susanoo-functions' as susanoo;
@use 'variables';

.login {
    background: {
        color: variables.$login-background-color;
    }
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panel {
        min: {
            width: susanoo.rem-calc(450);
        }
        border: {
            radius: susanoo.rem-calc(15);
        }
        background: {
            color: variables.$panel-background-color;
        }
        .headline {
            color: variables.$title-color;
            padding: {
                top: susanoo.rem-calc(34);
                right: susanoo.rem-calc(40);
                bottom: susanoo.rem-calc(20);
                left: susanoo.rem-calc(40);
            }
            text: {
                align: center;
            }
            border-top-left-radius: susanoo.rem-calc(15);
            border-top-right-radius: susanoo.rem-calc(15);
            background: {
                color: variables.$headline-background-color;
            }
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
        .form {
            padding: {
                top: 0;
                right: susanoo.rem-calc(40);
                bottom: susanoo.rem-calc(30);
                left: susanoo.rem-calc(40);
            }
            label {
                color: variables.$label-color;
                margin: {
                    bottom: susanoo.rem-calc(10);
                }
            }
        }
        div {
            display: flex;
            flex: {
                direction: column;
            }
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
        .button {
            margin: 0 auto;
            margin: {
                top: susanoo.rem-calc(26);
            }
        }
    }
}