@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;

.users-table {
    display: block;
    width: 100%;
    border: {
        collapse: collapse;
    }
    @include susanoo.breakpoint(large-s) {
        display: table;
    }
    thead {
        display: none;
        color: variables.$thead-color;
        @include susanoo.breakpoint(large) {
            display: table-header-group;
        }
        tr {
            vertical-align: baseline;
        }
        th {
            padding: susanoo.rem-calc(10);
            font: {
                weight: 600;
            }
        }
    }
    tbody {
        display: block;
        width: 100%;
        @include susanoo.breakpoint(large) {
            display: table-row-group;
        }
        tr {
            display: block;
            width: 100%;
            vertical-align: baseline;
            border: {
                bottom: {
                    width: 2px;
                    style: solid;
                }
            }
            @include susanoo.breakpoint(large-s) {
                display: table-row;
            }
        }
        td {
            padding: susanoo.rem-calc(18);
            text-align: center;
            color: variables.$tr-color;
            display: block;
            width: 100%;
            @include susanoo.breakpoint(large-s) {
                display: table-cell;
                width: unset;
            }

        }
        .button {
            display: inherit;
            padding: susanoo.rem-calc(8) susanoo.rem-calc(36);
            margin: 0 auto;
        }
    }
}