@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;
@use '../reset-list' as list;

.page-header {
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: susanoo.rem-calc(16);
        background: {
            color: variables.$page-header-background-color;
        }
        .search-form {
            padding: {
                left: susanoo.rem-calc(300);
            }
            position: relative;
            &::before {
                content: 'Susanoo';
                font: {
                    size: susanoo.rem-calc(30);
                }
                color: #7258E9;
                position: absolute;
                top: susanoo.rem-calc(10);
                left: susanoo.rem-calc(30);
            }
        }
        ul {
            display: flex;
            @include list.reset-list();
            margin: {
                left: susanoo.rem-calc(20);
            }
        }
        li {
            .button-header {
                margin: 0 susanoo.rem-calc(16);
            }
            span {
                display: none;
            }
        }
    }
}