@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;
@use '../reset-list' as list;
@use '../icons/variables' as icon;

.page-header {
    .navigation {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: susanoo.rem-calc(16);
        background: {
            color: variables.$page-header-background-color;
        }
        &.is-active {
            ul {
                visibility: visible;
                display: flex;
                top: susanoo.rem-calc(90);
                justify: {
                    content: center;
                }
                align: {
                    items: center;
                }
                padding: susanoo.rem-calc(10) susanoo.rem-calc(16);
                z-index: 2;
                background: {
                    color: #8494AC;
                }
                border: {
                    radius: susanoo.rem-calc(200);
                }
                box: {
                    shadow: 0 2px susanoo.rem-calc(20) rgb(0,0,0, 0.3);
                }
                transform: translateX(50%);
                .profile {
                    border: {
                        right: unset;
                    }
                    img {
                        margin: {
                            right: 0;
                        }
                    }
                }
                .informations {
                    display: none;
                }
            }
        }
        .left-side {
            display: flex;
        }
        .headline {
            font: {
                size: susanoo.rem-calc(30);
            }
            margin: {
                top: susanoo.rem-calc(10);
            }
            color: variables.$search-form-background-color;
        }
        .search-form {
            display: none;
            margin: {
                left: susanoo.rem-calc(150);
            }
            position: relative;
            @include susanoo.breakpoint(large) {
                display: block;
            }
            button {
                position: absolute;
                top: 0;
                left: 0;
                &::before {
                    @include susanoo.icon(icon.$icon-search);
                    position: absolute;
                    top: susanoo.rem-calc(10);
                    left: susanoo.rem-calc(10);
                    transform: rotate(90deg);
                    color: #667EEA;
                    font: {
                        size: susanoo.rem-calc(24);
                    }
                }
            }
            input {
                display: none;
            }
        }
        .button-navigation {
            @include susanoo.breakpoint(large) {
                display: none;
            }
        }
        .button-rectangle {
            position: relative;
            &::before {
                @include susanoo.icon(icon.$icon-dots-three-vertical);
                position: absolute;
                top: susanoo.rem-calc(8);
                left: susanoo.rem-calc(3);
            }
            @include susanoo.breakpoint(large) {
                display: none;
            }
        }
        ul {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 50%;
            @include list.reset-list();
            margin: {
                left: auto;
            }
            transition: top 0.2s ease-in-out;
            @include susanoo.breakpoint(large) {
                visibility: visible;
                display: flex;
                position: unset;
                margin: {
                    left: susanoo.rem-calc(20);
                }
            }
        }
        li {
            position: relative;
            .button-header {
                margin: 0 susanoo.rem-calc(16);
            }
            span {
                display: none;
            }
            .button-menu {
                padding: {
                    left: susanoo.rem-calc(10);
                }
            }
            .profile {
                display: flex;
                border-left: 1px solid variables.$profile-border-color;
                border-right: 1px solid variables.$profile-border-color;
                img {
                    width: susanoo.rem-calc(45);
                    height: susanoo.rem-calc(45);
                    margin: {
                        left: susanoo.rem-calc(10);
                        right: susanoo.rem-calc(30);
                    }
                    border: {
                        radius: susanoo.rem-calc(200);
                    }
                }
                .informations {
                    margin: {
                        right: susanoo.rem-calc(20);
                    }
                    .name {
                        color: variables.$profile-name;
                        font: {
                            weight: 800;
                        }
                    }
                    .profession {
                        color: variables.$profile-profession;
                    }
                }
            }
            .notification {
                position: relative;
                background: {
                    color: variables.$notification-background-color;
                }
                &:hover {
                    background: {
                        color: variables.$notification-hover-background-color;
                    }
                }
                &::before {
                    @include susanoo.icon(icon.$icon-megaphone, true);
                    color: variables.$notification-before-color;
                }
                &::after {
                    content: "";
                    width: susanoo.rem-calc(10);
                    height: susanoo.rem-calc(10);
                    background: {
                        color: variables.$notification-after-background-color;
                    }
                    border: {
                        radius: susanoo.rem-calc(200);
                    }
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .language {
                position: relative;
                background: {
                    color: variables.$language-background-color;
                }
                &:hover {
                    background: {
                        color: variables.$language-hover-background-color;
                    }
                }
                &::before {
                    @include susanoo.icon(icon.$icon-network, true);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: variables.$language-before-color;
                }
            }
            .statistic {
                position: relative;
                background: {
                    color: variables.$statistic-background-color;
                }
                &:hover {
                    background: {
                        color: variables.$statistic-hover-background-color;
                    }
                }
                &::before {
                    @include susanoo.icon(icon.$icon-pie-chart, true);
                    color: variables.$statistic-before-color;
                    position: absolute;
                    top: 46%;
                    left: 52%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}